header img,
header svg{
  height:100%;
}
header .logo{
  padding:4px;
}
header .logo img,
header .logo svg{
  max-width : var(--size-control-height);
  max-height : var(--size-control-height);
  fill:white;
}