@import "logo.css";
@import "header.css";
/* @import "control.css"; */
@import "screen.css";
@import "models.css";
@import "materials.css";
@import "setting.css";

html,body,#screen{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  position:relative;
  display:flex;
  flex-direction:column;
}


.hidden{
  display:none;
}

*, *:before, *:after {
  -webkit-box-sizing  : border-box;
     -moz-box-sizing  : border-box;
       -o-box-sizing  : border-box;
      -ms-box-sizing  : border-box;
          box-sizing  : border-box;
}

