@import "control.css";
@import "screen.css";

html,body,#screen{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  position:relative;
  display:flex;
  flex-direction:column;
}


.hidden{
  display:none;
}

:root{
  --size-control-height:30px;
}

