#control{
  position:absolute;
  top:0;
  left:0;
  padding:10px;
  margin:0;
  z-index:10;
  display:flex;
  gap:10px;
}
#control *{
  font-size:12px;
}


button[name="upload"]{
  padding:10px;
  border:0;
  background-color:black;
  color:white;
  border-radius:5px;
  cursor:pointer;
}
button[name="upload"]:hover{
  opacity:0.5;
}

label.grid{
  display:flex;
  align-items:center;
  cursor:pointer;
  background-color:black;
  color:white;
  padding:10px;
  border-radius:5px;
}

input[type="checkbox"][name="grid"]{
  margin-right:10px;
}

